body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    padding: 16px;
    font-size: 20px;
    background-color: #808080;
    border-radius: 25px;
    border: 2px solid black;
    cursor: pointer;
}